<!DOCTYPE html>
<html lang="en">

<head>
  <title>PubStore</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rose City</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/styles.css">
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/handlebars.js"></script>

  

</head>

<body>


	<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="assets/img/bookstack_new.png" id="logo">Rose City Book Pub</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li {{#home}}class="active"{{/home}} role="presentation"><a href="/">Home </a></li>
                    <li {{#books}}class="active"{{/books}} role="presentation"><a href="/books">Books</a></li>
                    <li {{#pub}}class="active"{{/pub}}  role="presentation"><a href="/pub">Pub </a></li>
                    <li {{#events}}class="active"{{/events}}   role="presentation"><a href="/events">Events </a></li>
					{{#user}}
				   	<li {{#profile}}class="active"{{/profile}} role="presentation"><a href="/profile">Profile</a></li>
					{{/user}}
					{{^user}}
				  	 <li {{#login}}class="active"{{/login}} role="presentation"><a href="/login">Login</a></li>
					{{/user}}
				   <li  {{#contact}}class="active"{{/contact}} role="presentation"><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
	
	<main>

    {{{body}}}
	</main>

    <footer>
            <div class="text-center">Rose City Book Pub© 2017 </div>
    </footer>

</body>
</html>