  <div class="container site-section" id="why">
        <h1 id="about">About Us</h1>
        <div class="row about-container">
            <div class="col-md-4 about-image"><img src="assets/img/bookstack_new.png" id="about-pic"></div>
            <div class="col-md-8">
                <p class="text-left description">This Book Pub is a lifelong inspiration of Elise Schumock and her parents. She, a writer, and her father, a publisher always dreamed of opening a place to drink and read as you wish. After years of bringing books to pubs and bars, Elise
                    can finally bring her books to a place she calls home. The Saks family hopes you find the same level of comfort reading and drinking as you wish. </p>
            </div>
            </div>
        </div>
</div>
