<div class="books-container">
<div>

<div class="container">
        <div class="dh-highlight-text">
            <div class="container">
                <h1><i class="glyphicon glyphicon-book" style="color:#950a2b;"></i></h1>
                <h1 class="clearmargin clearpadding">Book Search</h1>
                <p>Find books you want to read and click on the title to add them to your List</p>
            </div>
        </div>
        <div class="row">
        <form class="search-form">
            <div class="input-group">
            <span><i class="input-group-addon glyphicon glyphicon-search"></i></span>
                
                <input class="form-control" type="text" placeholder="I am looking for..">
                {{!-- <div class="input-group-btn"> --}}
                    <span class="input-group-addon btn btn-default" type="button" id="search" id="clear-all">Clear All</span>
                    <span class="input-group-addon btn btn-default" type="button">Search</span>
                {{!-- </div> --}}
            </div>
        </form>
        </div>
    </div>
    <div class="row books">
        <div class="col-md-3 booklist">
            <h1 class="books">My Book List</h1>
            <ul class="list-group">
                <li class="list-group-item"><span>Pride and Prejudice</span></li>
                <li class="list-group-item"><span>The Alchemist</span></li>
                <li class="list-group-item"><span>Catcher in the Rye</span></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1 class="books">Results </h1></div>
    </div>

{{!-- <h1>My Book List</h1>
    <div class="container">
        <div class="form-group">
            <input type="text" id="search" placeholder="Search books . . ." autocomplete="off" class="form-control" />
        </div>
       
        <button type="button" class="btn btn-default" id="clear-all"><i class="fa fa-trash"></i> Clear Results</button> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchResults" id="submit-btn">Search</button> --}}
       {{!-- <form class="main-search">
           <div class="form-group">
               <input type="text" id="search" placeholder="Type something. . ." autocomplete="off" class="form-control" />
           </div>
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchResults" id="submit-btn">Search</button>
           <!-- <div id="viewerCanvas" style="width: 600px; height: 500px"></div> -->
           <div id="content"> Title: </div>
           <div id="authors" > Authors: </div>
       </form> --}}
   </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
   <script src="/assets/js/books-api.js"></script>