
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
	<table class="table table-bordered">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Date</th>
	            <th>Type</th>
	        </tr>
	    </thead>
	    <tbody>
	{{#each events}}

	  		<tr class="event-row" data-id="{{this.id}}">
	            <td>{{this.name}}</td>
	            <td>{{this.date}}</td>
	            <td>{{this.type}}</td>
	        </tr>

	{{/each}}

	    </tbody>
	</table>
  </div>
  <div class="col-md-2"></div>
</div>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
  	<label for="desc">Description:</label>
  	
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-2">
	<textarea id="desc" rows="4" cols="50">
		At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
	</textarea>
  </div>




</div><!-- end of row -->








<script src="/js/events.js"></script>





