<div id="promo">
        <div class="jumbotron">
            <h1>Coming Soon!</h1>
            <p>Portland, Oregon will soon be welcoming this sanctuary for beer and book lovers to unite. Sign up to get updates and get invited to our Grand Opening!!</p>
            <p><a class="btn btn-default" role="button" href="#">Tell me more</a></p>
        </div>
    </div>
    <div class="container site-section" id="welcome">
        <h1 id="site-section">Welcome to Rose City Book Pub</h1>
        <p>Inspired by a family of writers and publisherrs whose dream was to open a place when you can drink and read as you please. The Book Pub is set to open Winter 2017. Feel free to make a profile with a book list,, and drink recommendations for your
            favorite books! Our Book Pub wiill not only feature themed events with books and drinks, but also live Music, and beer and wine tastings. </p>
    </div>
    <div class="container site-section" id="services">
        <div class="row">
            <div class="col-md-4"><i class="glyphicon glyphicon-book" id="item"></i>
                <h1 class="service-heading">Books </h1>
                <p class="service-p">From old classics to the unknown authors, we are proud to have a seasoned collection of books. </p>
                <button class="btn btn-default service" type="button">Search </button>
            </div>
            <div class="col-md-4"><i class="fa fa-beer" id="item2"></i>
                <h1 class="service-heading">Pub </h1>
                <p class="service-p">Books and drinks are a match made in heaven. Let our inventive and themed drinks carry you into book fantasies.</p>
                <button class="btn btn-default service" type="button">Menu</button>
            </div>
            <div class="col-md-4"><i class="glyphicon glyphicon-calendar" id="item3"></i>
                <h1 class="service-heading">Events </h1>
                <p class="service-p">Sign up to receive updates for our grand opening, wine &amp; beer tastings, book club events and more!!</p>
                <button class="btn btn-default service" type="button">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="container site-section" id="why">
        <h1 id="about">About Us</h1>
        <div class="row about-container">
            <div class="col-md-4 about-image"><img src="assets/img/bookstack_new.png" id="about-pic"></div>
            <div class="col-md-8">
                <p class="text-left description">This Book Pub is a lifelong inspiration of Elise Schumock and her parents. She, a writer, and her father, a publisher always dreamed of opening a place to drink and read as you wish. After years of bringing books to pubs and bars, Elise
                    can finally bring her books to a place she calls home. The Saks family hopes you find the same level of comfort reading and drinking as you wish. </p>
            </div>
        </div>
        <div></div>
    </div>