<div class="photo-gallery">
        <div></div>
        <div class="container" id="gallery">
            <div class="intro">
                <h1 class="text-center pub">Pub and Books</h1>
                <p class="text-center">Set in a historic building, built in 1960's, we're proud to share our speakeasy vibe with you. Pull up a chair, get a good book, get a good book, and meet other bookworms. </p>
            </div>
            <div class="row photos">
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <a href="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg" data-lightbox="photos"><img class="img-responsive" src="assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg"></a>
                </div>
            </div>
        </div>
    </div>
<div class="row">
			

            <div class="container site-section" id="why">
        <h1 id="about">About Us</h1>
        <div class="row about-container">
            <div class="col-md-4 about-image"><img src="assets/img/bookstack_new.png" id="about-pic"></div>
            <div class="col-md-8">
                <p class="text-left description">This Book Pub is a lifelong inspiration of Elise Schumock and her parents. She, a writer, and her father, a publisher always dreamed of opening a place to drink and read as you wish. After years of bringing books to pubs and bars, Elise
                    can finally bring her books to a place she calls home. The Saks family hopes you find the same level of comfort reading and drinking as you wish. </p>
            </div>
        </div>
        <div></div>
    </div>

</div>