#promo {
  text-align:center;
  padding:40px;
  background-image:url(../../assets/img/Electric-House-tatler-16mar15_pr_b_810x540.jpg);
  background-size:cover;
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding:20px;
  }
}

@media (max-width:991px) {
  #promo {
    padding:20px;
  }
}

#site-section about {
  text-align:center;
  font-size:50px;
  color:black;
}

.site-section {
  max-width:800px;
  text-align:center;
  padding:50px 0 60px;
}

#welcome {
  max-width:800px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:25px;
  font-size:36px;
  padding-bottom:0px;
}

.row.about-container {
  max-width:800px;
}

#why {
  background-color:#d2bc92;
  padding:30px;
  border-radius:15px;
  opacity:.9;
}

h2, .h2 {
  font-size:28px;
  color:gray;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
  color:#2b2b28;
  font-weight:bolder;
}
.books-container {
  background-color: white;
}

.jumbotron p {
  color:#444f51;
}

img {
  /*background-image:url(../../assets/img/rose.jpeg);*/
}

#promo {
  margin-top:65px;
}

#logo {
  max-height:36px;
  margin-top:-3px;
  margin-right:10px;
  display:inline-block;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
}

#about-pic {
  max-height:250px;
}

p {
  margin:0 0 10px;
}

.description {
  font-size:18px;
}

.about #site-section {
}

.about #site-section {
  /*font-size:22px;*/
}

#about {
  font-size:42px;
  color:rgba(255,255,255,0.74902);
}

#item {
  font-size:43px;
  margin-top:13px;
  color:#760318;
}

#item2 {
  font-size:42px;
  margin-top:13px;
  color:#760318;
}

#item3 {
  font-size:43px;
  margin-top:13px;
  color:#760318;
}

#services {
  background-color:#f4e1e1;
  border-radius:10px;
  margin-bottom:32px;
}

h1, .h1 {
}

.service-heading {
  color:gray;
  margin-bottom:2px;
  font-size:18px;
  /*font-family:Comic Sans, \;*/
}

.service-p {
  margin:2px 2px 15px 5px;
}

.glyphicon {
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin-top:36px;
  color:#760318;
}

#item2 {
  color:#760318;
  margin-top:13px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color:#ffffff;
  background-color:#ecfff0;
  border-color:#2b2b28;
}

.btn-default {
  color:#ffffff;
  background-color:#424242;
  border-color:#424242;
}


.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1
}

.editable {
  margin: 1px;
  border: 1px solid lightgray;  
}

.active {
  border: 2px solid black;
}


.content-space-around{
justify-content: space-around;
}

.hidden {
  display: none;
}
.books p  {
  margin:10px 0 10px;
  font-size:16px;
}

.books .h1, h1 {
  font-size:27px;
  text-align:center;
}
.clearmargin clearpadding {
  font-size: 27px;
  text-align: center;
}

body {
  display:flex;
  flex-direction: column;
  height:100vh;
}

main {
  flex:1;
}

footer {
  min-height: 2em;
}


footer {
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  padding-top:0.5em;
  text-align:left;
  font:bold 16px sans-serif;
  margin-top:0px;
  bottom:0;
  color:#fff;
}

.footer-navigation h3 {
  margin:0;
  font:normal 36px Cookie, cursive;
  margin-bottom:20px;
  color:#fff;
}

.footer-navigation h3 a {
  text-decoration:none;
  color:#8f9296;
}

.footer-navigation h3 span {
  color:#5383d3;
}

.footer-navigation p.links a {
  color:#fff;
  text-decoration:none;
}

.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin:30px 0;
  }
}

.footer-contacts p {
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p a {
  color:#5383d3;
  text-decoration:none;
}

.fa.footer-contacts-icon {
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links {
  margin-top:20px;
  color:#fff;
}

.social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}
/*Books API*/
h1.clearmargin.clearpadding{
  color: black;
}
.books {
  color: black;
}
.list-group-item{
  background-color: white;
}
/*Contact form*/
.form-contact{
  max-width: 1080px;
}
#rose{
  float: left;
  padding-bottom: 5px;
  padding-right: 5px;
}
